{% extends "main.html" %}



{% block title %} Удалить новость {% endblock title %}

{% block content %}

<h2>Вход выполнен: {{request.user.username}}</h2>
<button> <a href="sign/logout/">Выйти</a> </button>

    <p align="right"><button> <a href="/"> Вернуться на главную страницу </a></button> </p>
   <h2>Вы действительно хотите удалить данную заметку?</h2>
<table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Автор
                </td>
            </tr>
            <tr>
                <td>
                    {{ note.title}}
                </td>
                <td>
                    {{ note.dateCreation|date:'d-M-Y h:m' }}
                </td>

                <td>
                    {{ note.text }}
                </td>
                <td>
                    {{ note.author }}
                </td>
            </tr>
        </table>


<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="подтвердить"></form>
{% endblock content %}